@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap');

h1,h2,h3,h4,h5,h6 {font-family: 'Arvo', serif;}

.et_pb_section {padding: 0px;}

#top-menu a:link, #top-menu a:visited, #et_top_search, .mobile_menu_bar {border-top: 10px solid white;}

#top-menu a:hover {border-top: 10px solid #07162E;
  opacity: 100% !important;
        }

/* Mobile Menu */

.mobile_menu_bar::before {
	color: #07162E;
}

.et_mobile_menu {
	border-top: 10px solid #07162E;
}

.et_mobile_menu li a:hover {
	background-color: #07162E;
	color: white;
	opacity: 100%;
}

/* Top Slider */

.et_pb_fullwidth_section .et_pb_slider .et_pb_slide {text-align: left;}

.et_pb_fullwidth_section .et_pb_slider h2, .et_pb_fullwidth_section .et_pb_slider p {
    text-shadow: 2px 2px 5px black;
}

.et_pb_fullwidth_section .et_pb_slider h2 {font-size: 2em;
    text-transform: capitalize;
    margin-bottom: .25em;
    margin-top: .25em;}

.et_pb_fullwidth_section .et_pb_slide_content {
    width: 40%;
    min-width: 250px;
}


.et_pb_fullwidth_section .et_pb_slide_description {
    padding: 0;
	  width: 80%;
    max-width: 1080px;
    margin: auto;
   }

.et_pb_fullwidth_section .et_pb_slider .et_pb_container {
    min-height: 200px;
    padding: 100px 0px; 
}

.et_pb_fullwidth_section .et_pb_slide {padding: 0px;}

/* Text Boxes */

.et_pb_text {
  text-align: left;
  line-height: 1.3em;
  font-size: 1.1em;
  padding: 20px;
  
}

.et_pb_text h2 {
    text-transform: capitalize;
    font-weight: bold;
}

.author {
    display: block;
    font-weight: normal;
    font-size: .7em;
    margin-top: 10px;}

.dark_box, .dark_box h2 {background-color: #07162E;
    color: white;}

/* buttons */

.button, .button:visited {
    display: inline-block;
    border: 1px solid #07162E;
    padding: 5px 10px;
    color: #07162E;
    font-weight: bold;
    font-size: .8em;
    margin-top: 10px;
    transition: .5s;
}

.button:hover {
    background-color: #07162E;
    color: white;
    padding: 5px 20px;
}

.button:active {
    text-decoration: underline;           
}

.dark_box .button {background-color: #07162E;
  border: 1px solid white;
  color: white;
  }

.dark_box .button:hover, .dark_box .button:active {
    background-color: white;
    color: #07162E;
}

.et_pb_slider_fullwidth_off  .et_pb_slide {
  padding: 0;
}

.et_pb_slider_fullwidth_off .et_pb_slide_description {
  position: relative;
  min-height: 300px;
}

.et_pb_column .et_pb_slider_fullwidth_off .et_pb_slide_content {position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 30px 10px 30px;
	font-size: 14px;
  background: rgba(7,22,46,0.5);}

@media all and (max-width:980px) {
  .et_pb_fullwidth_section h2, .et_pb_fullwidth_section p {
    text-align: left;
  }
}