@media only screen and (min-width: 32.5em) {
	/* Horizontal Menu Examples */
nav ul {display: flex; }
nav ul li {flex: 1 1 100%;}
}

.navigation li {
	display:block;
}

.navigation li:first-child {
	display:none;
}