@media only screen and (min-width: 32.5em) {
	/* Horizontal Menu Examples */
.navigation {display: flex; }

.navigation li {
	display:block;
	flex: 1 1 100%;
}

.navigation li:first-child {
	display:none;
}

.navigation, main {padding-left: 12vw;
    padding-right: 12vw;
}

header {
	display: block;
}

h1 {text-align: left;}

header img {padding-left: 12vw;}

.tagline {text-indent: 2vw;
    margin-left: 15%;
}


nav {
    background-color: #017EA7;
    color: white;
	display: block;
	position: relative;
	top: auto;
	left: auto;
	right: auto;
    bottom: auto;
    margin: 0;
}

#hero {
    padding-left: 2.4vw;
    min-height: 200px;
    min-width: 800px;
}

#summarycontainer {
    position: relative;
    margin-right: 2.5vw;
    overflow: hidden;
}

#summary {
    position: absolute;
    width: 200px;
    left: 3vw;
    top: 1vw;
    margin: 20px;
    background: rgba(1, 126, 167, 0.9) }

.articlediv {
    padding-bottom: 2vw;
}

.articleimg {
    position: static;
    float: right;
    padding: 2vw;
    max-width: 25vw;}

#social {display: block;}

#address {display: inline-block;}

#footermain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 25px;
}

#mapimg {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 15px;
    justify-self: right;
    margin-right: 20px;
}

#contact {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: left;
    text-align: left;
    align-self: center;
}

}
