@media only screen and (min-width: 50em) {

#data {grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;}

.chart .title {font-size: calc(4px + 1rem);}

.cards {grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);}

.eventcards {grid-template-columns: repeat(4, 1fr);}

/*end media query*/
}