@media only screen and (min-width: 50em) {

#data {grid-template-columns: repeat(4, 1fr);}

.chart:first-child .title {padding-bottom: 0;}
.chart .title {padding-bottom: 1.5rem;
    font-size: calc(6px + 1.05vw);}



/*end media query*/
}