@media only screen and (min-width: 37.5em) {

    #members {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;}
    
    #members img {width:100%;}

    #members a {color: white;}

    .navigation li {display: inline-block;}

    .navigation li:first-child {
		display: none;
	}

    footer {position:relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,auto);}
    
    .footermain {display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: 1fr;}
    
    .social {justify-self: right;
        margin-right: 3vw;}
    
    .social img {padding-top: 45px;}

    #about {display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 0;
        gap: 10px;
        padding-bottom: 0;
        }

    #dots {display: block;
        padding-bottom: 15px;}

    #weather {display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;}

    .forecast {margin-left: 1rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
        gap: 2rem;}

    .currweather div {  margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;}

    #weather .title {font-size: calc(8px + 1vw);}

    #identity {padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-bottom: 1.2rem;}
    #join {padding-right: 1.2rem;}

/*end media query*/
}