main {max-width: 900px;
  margin: 0 auto;
  background-color:#f1faee;}

body {background-color: #1d3557;}

* {box-sizing:border-box}

.heroimg img {width: 100%;
  height: auto;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: calc(10px + .5vw);
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots {display: none;}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


header, footer {background-color: #1d3557;
    color: white;
    display: inline-flex;
    width: 100%;}

#hamicon {
    max-width: 25px;
    height: auto;}
  
.navigation li {
  display: none;}

.responsive li {
  display: block;
  }

.navigation li:first-child {
    display: block;
    background-color: #1d3557;
  }

.navigation li:first-child a {background-color: #1d3557;}

.navigation li:first-child a:hover {background-color: #1d3557;}

.navigation li:first-child a:active {background-color: #1d3557;}

.navigation .active {background-color: #a8dadc;}

.navigation .active a {color: #1d3557;}

.navigation a {
    display: block;
    text-decoration: none;
    margin-left: 10px;}

.navigation a:hover {
    color: #1d3557;
    background-color: #f1faee;
  }

.navigation li:hover {background-color: #f1faee;}

.navigation ul {padding-left: 0;}

ul {list-style: none;}
ul li {display:inline;}

footer {display: block;}

footer span {margin-left: 10px;}

.social {text-align: center;}

.bottombar {text-align: center;
    padding-bottom: 10px;}

.social i{
    margin: auto 10px;
    padding-top: 5px;}

.logo {max-width: 90px;
  margin:10px;}

h1,h2,h3,h4, .title {font-family:'Shippori Mincho B1', serif;}
p, a {font-family: 'Poppins', sans-serif;}

.title {font-size: 1.5rem;
  margin-left: 1rem;}

header {display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 110px auto auto;}

header h1 {font-size: calc(15px + 1vw);
    align-self: center;}

.updated {font-size: .75rem;}

.contact {display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 110px auto;}

.contact span {align-self: center;
  font-family: 'Poppins', serif;}

.navigation {
    justify-self: right;
    margin-right: 2vw;
    align-self:center;}

.navigation ul a {color: white;
    margin-right:10px;}

div.bottombar {justify-self: center;
    align-self: center;
    padding-bottom: 0;}

#feature {background-color: #457b9d;
  color: white;
  padding-top: .5rem;
  padding-bottom: .75rem;} 

#feature h2 {margin-left: 1.6rem;}

#members .subhead {font-family: 'Shippori Mincho B1', serif;
    font-size: 1.2rem;}

#members img {width: 100%;
  height: auto;
  margin: 1rem auto 0 auto;}

#members {display: block;}

#members p, #members a  {margin-left: 1rem;
  margin-right: 1rem;
  font-size: .9rem;
  }

#members a {margin-bottom: 1rem;
  color: white;}

#join {margin-left: 1rem;
  margin-right: 1rem;
  }

#join .button {margin-left: 0px;}

.events {background-color: #a8dadc;
  color: #1d3557;}

#about  {color:#1d3557;
  padding-bottom: 15px;}

#about h2, #about h3 {font-size: 1.5rem;}

.events h4 {font-size: 1.5rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-left: 1rem;}

#identity {background-color: #1d3557;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;}

.events h3 {font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 10px;
  margin-left: 1rem;}

.eventcards {display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 0;
  margin-left: 1rem;
  margin-right: 1rem;}

.eventcards .title {margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 1.3rem;}

.eventcards p {margin-right: 10px;}

.button, .listify, .gridify {margin-left: 10px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #1d3557;
  margin: 0 .7rem 0 .7rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  font-weight:300;
  background-color: #f1faee;
  color: #1d3557;
  text-align:center;
  transition: all 0.2s;
  }

.button:hover, .listify:hover, .gridify:hover {color: white;
  background-color: #1d3557;
  cursor: pointer;} 

#weather {display: block;}

#weather .title {margin-left: .85rem;}

.forecast {display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  margin-left: .5rem;
  margin-bottom: 0;
  padding-bottom: 1rem;
  margin-right: .5rem;}

.forecast div {background-color: white;
  color: #1d3557;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #1d3557;
  text-align: center;}

#forecastdiv {color: #1d3557;}

.currweather div {background-color: white;
  color: #1d3557;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #1d3557;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;}

#currwdiv {background-color:#457b9d;
  color: white;
  padding-bottom: .5rem;
  padding-top: .5rem;}

#currwdiv .title {margin-top: .5rem;}

.currweather p:first-child {padding-top: 15px;}
.currweather p:last-child {padding-bottom: 15px;}

footer a {color: white;}
.bottombar a {display: inline;}

#data, #cityevents, #whybham {display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #1d3557;}

#data img {width: 100%}

.chart .title {color: #1d3557;}

#whytxt {margin: 1rem;}

.whyimg {display: block;
  margin: 0 auto;
  width: 100%;}

.fullscreen {max-width: 100%;}

.cards {display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 1rem;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;}  

.cards img {display: block;
  margin: 0px;
  max-width: 200px;}

.cards .title {margin-left: 0;
  margin-top: .5rem;}

.cards span {display: block;
  font-family: 'Poppins', sans-serif;
  color: #1d3557;
  margin: 5px;}

.cards p {color: #1d3557;}

.cards section {
  background-color: white;
  color: #1d3557;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #1d3557;
  padding: 1rem;}

.list section{display: grid;
  width: 100%;
  grid-template-areas: "name name"
                       "span1 web"
                       "span2 phone";
  gap: 5px;
  column-gap: .5rem;
  justify-content: start;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;}
.list img {display: none;}
.list section span:first-child {grid-area: span1;}
.list section span:last-child {grid-area: span2;}
.list section a {grid-area: web;}
.list section p:first-child {grid-area: name;}
.list section p:last-child {grid-area: phone;}
.list section p {margin: 0px;}
.list span {font-family: 'Poppins', sans-serif;
  color: #1d3557;}
.list p {color: #1d3557;}
.list {padding-bottom: 1rem;}
.list .title {margin-left: 0;}

button, #dirh2 {margin-left: 10px;
  color: #1d3557;
  }

#dirh2 {padding-top: 1rem;
  margin-top: 0;}

.listify {margin-right: 0px;
  margin-left: 10px;}

.gridify {margin-left: 0px;}

.intro ul li {list-style-type:disc;
  display: list-item;
  font-family: 'Poppins',serif;}

.intro .title {font-size: 1.2rem;
  margin-left: 0;}

div.intro {color: #1d3557;
  margin: 1rem;}

form label.top, .form {display: block;
    padding-top: 1rem;
    font-size: .9rem;
    font-family: 'Poppins', serif;
    color: #1d3557;}

form label.top input, form label.top textarea {display: block;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #1d3557;
  min-height: 44px;
  max-width: 100%}

form label.top textarea {max-width: 95%;}

form {margin: 1rem;
  margin-bottom: 0;
  padding-bottom: 1rem;}

.intro, .form {max-width: 800px;
  margin: 0 auto;}

#formbutton {margin-top: 10px;
  margin-left: 0;}

main {min-height: 60vh;}

.contact .logo {margin-bottom: 0;}

#mapcontact {display: grid;
  grid-template-columns: 1fr;
  background-color: #457b9d;
  color: white;
  font-family: 'Poppins', serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-items: center;}

#mapcontact iframe {width: 80%;
  border-radius: 4px;}

#contactbox {justify-self: center;
  align-self: center;}

.details {font-size: .85rem;
  font-style:italic;
  margin-top: 0px;}

.boardmember p:first-child {margin-bottom: 5px;}

#board {background-color: #457b9d;
  color: white;
  padding: .5rem;}

#bdmembers {display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-right: 10px;
  column-gap: 10px;}

.thanks {margin-top: 0;
  padding-top: 1rem;
  margin-left: 1rem;}

.thanks p, .thanks h2 {max-width: 600px;
  margin: 1rem auto;}
