@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shippori+Mincho+B1:wght@700&display=swap');

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  background-color: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  font-size: calc(10px + .5vw);
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: calc(5px + 1vw);
  width: calc(5px + 1vw);
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#dots {display: none;}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

body {background-color: #f1faee;}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


header, footer {background-color: #1d3557;
    color: white;
    display: inline-flex;
    width: 100%;}

#hamicon {
    max-width: 25px;
    height: auto;}
  
.navigation li {
  display: none;}

.responsive li {
  display: block;
  }

.navigation li:first-child {
    display: block;
    background-color: #1d3557;
  }

.navigation li:first-child a {background-color: #1d3557;}

.navigation li:first-child a:hover {background-color: #1d3557;}

.navigation li:first-child a:active {background-color: #1d3557;}

.navigation a {
    display: block;
    text-decoration: none;}

.navigation a:hover {
    color: #1d3557;
    background-color: #f1faee;
  }
  

ul {list-style: none;}
ul li {display:inline;}

footer {display: block;}

footer span {margin-left: 10px;}

.social {text-align: center;}

.bottombar {text-align: center;
    padding-bottom: 10px;}

.social img { max-width: 20px;
    margin: auto 10px;
    padding-top: 10px;}

.logo {max-width: 90px;
  margin:10px;}

h1,h2,h3,h4, .title {font-family:'Shippori Mincho B1', serif;
  margin-left: 10px;}
p, a {font-family: 'Poppins', sans-serif;
  margin-left: 10px;}

.title {font-size: 1.5rem;}

header {display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 110px auto auto;}

header h1 {font-size: calc(15px + 1vw);
    align-self: center;}

.updated {font-size: .75rem;}

.contact {display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 110px auto;}

.contact span {align-self: center;}

.navigation {
    justify-self: right;
    margin-right: 2vw;
    align-self:center;}

.navigation ul a {color: white;
    margin-right:10px;}

div.bottombar {justify-self: center;
    align-self: center;}

#feature {background-color: #457b9d;
  color: white;
  padding-top: .5rem;
  padding-bottom: .75rem;} 

#feature img {width: 100%;}

#members {display: block;}

#events {background-color: #a8dadc;
  color: #1d3557;}

#about {color:#1d3557;
  padding-bottom: 15px;}

#identity {background-color: #1d3557;
  color: white;}

#events h3 {font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;}

.eventcards {display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );}

.button {margin-left: 10px;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #1d3557;
  margin: 0 .7rem 0 .7rem;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Poppins',sans-serif;
  font-weight:300;
  background-color: #f1faee;
  color: #1d3557;
  text-align:center;
  transition: all 0.2s;
  }

.button:hover {color: white;
  background-color: #1d3557;
  cursor: pointer;}

.active {text-decoration: underline;}

.medium p {font-size: 1.2rem;
  margin-top: 0;}

#weather {display: block;}

.forecast {display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .5rem;
  margin-left: .5rem;
  margin-bottom: 1rem;
  margin-right: .5rem;}

.forecast div {background-color: white;
  color: #1d3557;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  text-align: center;}

.currweather div {background-color: white;
  color: #1d3557;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(63, 61, 61);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;}

#currwdiv {background-color:#457b9d;
  color: white;}

.currweather p:first-child {padding-top: 15px;}
.currweather p:last-child {padding-bottom: 15px;}

.subhead {font-size: 1.3rem;}

footer a {color: white;}
.bottombar a {display: inline;}

#data {display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;}

#data img {width: 100%}

.chart .title {color: #1d3577;}

#whytxt {margin: 1rem;}

.whyimg {display: block;
  margin: 0 auto;}

.cards {display: grid;
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  margin-bottom: 1rem;
  gap: 1rem;
  justify-content: center;}  

.cards img {display: block;
  margin: 10px;
  max-width: 200px;}

.cards span {display: block;
  margin: 5px;}

.cards section {margin-bottom: 10px;}

.list section{display: grid;
  width: 100%;
  grid-template-areas: "name name name"
                       "img span1 web"
                       "img span2 phone";
                    gap: 5px;
                    justify-content: start;
                    margin: 1rem;
                    padding: 10px;}
.list img {grid-area: img; max-width: 150px;
max-height: 100px;}
.list section span:first-child {grid-area: span1;}
.list section span:nth-child(2) {grid-area: span2;}
.list section a {grid-area: web;}
.list section p:first-child {grid-area: name;}
.list section p:last-child {grid-area: phone;}
.list section p {margin: 5px;}
