@media only screen and (min-width: 32.5em) {
main {display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;}
.whitespace {grid-column-start: 1;}
.alignment {grid-column-start: 2;}
}
